html{
    font-size: 50%;
}

#nav-bar{
    display: none;
}

#Content_Box_1 {
    flex-wrap: wrap-reverse;
    height: clamp(899px,115vh,899px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllBoxs {
    position: relative;
    height: clamp(326px,49vh,326px);
}

.AddHeight{
    height: clamp(433px,65vh,433px);
}

.T_box {
    font-size: 4rem;
}

#container_Page6-Part3 {
    justify-content: space-evenly;
}

#Box_B {
    background-size: contain;
}

#NavPhone23{
    display: flex;
}

#container_Page6{
    height: clamp(400px,133vh,887px);
}

#Page6{
   justify-content: space-between;
}